*.iml
/*.iml
.gradle
**/build/**
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/colorPickerViewBiblioteca/*.iml
/viewPagerIndicator_Library/*.iml
/widgets/*.iml
gradle-local.properties
local.properties
*.php
*.apk
gradle-local.properties
